.background {
    background-color: #e6111b; 
    min-height: 100vh; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    text-align: center;
}

#logo{
    width: 70%;
}

.row {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 30px; 
    text-align: center; 
}

#text{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.col-xs-2 {
    margin: 0 10px; 
}

.vr {
    border-left: 2px solid white;
    height: 200px;
    margin: 0 10px; 
}

.btn-default {
    background-color: rgb(39, 38, 38); 
    border: 2px solid #fff; 
    color: #fff; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    padding: 15px 25px; 
    font-size: 24px; 
    border-radius: 3px; 
    cursor: pointer;
    text-transform: uppercase;
    width: auto; 
    display: inline-block; 
    text-decoration: none; 
}

.order:hover {
    background-color: #171717; 
    
}

.terms a {
    color: white;
    margin: 0 10px;  
    text-decoration: none;
}

.terms {
    font-size: 16px; 
    line-height: 1.6; 
}

.allrights {
    color: white;  
    font-size: 12px; 
}

.footer {
    
    background-color: #e6111b;
    padding: 20px 0; 
}
